streamlit
streamlit-chat
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-community
faiss-cpu
huggingface-hub
fpdf
pypdf
PyPDF2
pypdfium2
groq